<link rel="stylesheet" href="srf.component.css">
<form>
    <fieldset>
        <h2>Personal Details</h2>
        <label for="name">Name <sup>*</sup></label>
        <input id="name" name="name" />
        <br><br>
        <label for="dob" name="dob">Date of Birth<sup>*</sup></label>
        <input id="dob" name="dob"/>
        <br><br>
        <label for="Yog">Year of Graduation<sup>*</sup></label>
        <input id="Yog" name="Yog"/>
        <br><br>
        <label for="nationality">Nationality<sup>*</sup></label>
        <select id="nationality" name="nationality">
            <option>Indian</option>
            <option>American</option>
            <option>African</option>
        </select>
        <br><br>
        <label for="phoneno">Phone No.</label> 
        <input id="phoneno" name="phoneno"/>
        <br><br>
        <label for="emailid">EmailID</label> 
        <input id="emailID" name="emailid"/>
        <br><br>
    </fieldset>
    <button>Submit</button>
</form>